  <nav class="navbar navbar-expand-sm">
  <div class="container-fluid pe-0">

    <div class=" navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center ms-4">
          <i class="fa-solid fa-arrow-right-from-bracket fa-sm" (click)="logOut()"></i>
          <a class="nav-link" (click)="logOut()">الخروج</a>
        </li>
      </ul>
    </div>


    <div class="user d-flex justify-content-center align-items-center me-3 text-center">
      <div class="me-2">
        <h6 id="user" ></h6>
        <p>مستخدم</p>
      </div>

    </div>


    <div class="logo d-flex justify-content-center align-items-center">
      <a class=" d-flex align-items-center" [routerLink]="['/legal']" >
        <img src="../../assets/Images/Kazyon Plus Dark Logo 1.png" class="img-fluid" href="#">
      </a>
    </div>

  </div>
</nav>
