<div class="main-container">
  <div class="rounded-rectangle"></div>

    <img id="main-text" src="../../assets/Images/404 Text.png" alt="">
    <img src="../../assets/Images/greenEclipse.png" alt="" class="green">
    <img src="../../assets/Images/orangeEclipse.png" alt="" class="orange">
    <h1 class="main-text">Oops, You don't have access to this page</h1>
    <p class="sub-text">Please check your username and password and tryagain.</p>
    <button (click)="logOut()"> <i class="fa-solid fa-arrow-left-long pe-2"></i>
      Back to Login</button>
</div>
